services:
    app:
        build:
            context: ./
            dockerfile: Dockerfile
        env_file:
            - .env
        ports:
            - "8080:8080"
        restart: on-failure
        depends_on:
            - db

    db:
        image: postgres:17
        restart: always
        env_file: .env
        ports:
            - "5432:5432"
        volumes:
            - db-data:/var/lib/postgresql/data
            - ./migrations:/migrations
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}",
                ]
            interval: 5s
            timeout: 5s
            retries: 5

volumes:
    db-data:
