services:
    test-db:
        image: postgres:17
        environment:
            POSTGRES_USER: test_user
            POSTGRES_PASSWORD: test_password
            POSTGRES_DB: test_db
        ports:
            - "5433:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U test_user -d test_db"]
            interval: 2s
            timeout: 2s
            retries: 10
        tmpfs:
            - /var/lib/postgresql/data

    test-app:
        build:
            context: ./
            dockerfile: Dockerfile
        environment:
            DATABASE_URL: "postgres://test_user:test_password@test-db:5432/test_db?sslmode=disable"
            CONFIG_PATH: "./config/prod.yaml"
            ADMIN_JWT_SECRET: "admin_secret_key"
            USER_JWT_SECRET: "user_secret_key"
        ports:
            - "8081:8080"
        depends_on:
            test-db:
                condition: service_healthy
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "wget -qO- http://localhost:8080/health > /dev/null 2>&1 || exit 1",
                ]
            interval: 2s
            timeout: 2s
            retries: 30
            start_period: 10s

    tests:
        build:
            context: .
            dockerfile: tests/Dockerfile
        environment:
            TEST_BASE_URL: "http://test-app:8080"
            ADMIN_JWT_SECRET: "admin_secret_key"
            USER_JWT_SECRET: "user_secret_key"
        volumes:
            - ./:/project:ro
        depends_on:
            test-app:
                condition: service_healthy
        # Можно переопределить команду, например добавить -k или маркеры
        command: ["pytest", "-q", "/project/tests"]
